<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>蘑菇街-时尚目的地</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="CSS/reset.css">
    <link rel="stylesheet" href="fonts/iconfont.css">
    <link rel="stylesheet" href="CSS/index.css">
<!--    <script src="js/tools.js"></script>-->
    <script src="js/clamp.js"></script>
    <script src="js/template-web.js"></script>
</head>
<body>
<div class="nav">
    <div class="nav-top">
        <div class="nav-in">
            <ul>
                <li><a href="#"><i class="iconfont icon-xiazai45"></i>首页</a></li>
                <li>|</li>
                <li><a href="#"><i class="iconfont icon-icon-test"></i>商城</a></li>
                <li>|</li>
                <li><a href="#">我的订单</a></li>
                <li>|</li>
                <li><a href="#">关于我们<i class="iconfont icon-huaban"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="nav-bottom">
        <div class="nav-in">
            <h1 class="logo">
                <a href="#">
                    <img src="images/logo.png" alt="">
                </a>
            </h1>
            <div class="menu">
                <i class="iconfont icon-caidan"></i>
                <b>目录</b>
            </div>
            <form action="" class="search">
                <input type="text" placeholder="半身群">
                <input type="submit" value="">
            </form>
            <ul class="list">
                <li>
                    <i class="iconfont icon-weixin"></i>
                    <p>消息</p>
                </li>
                <li>
                    <i class="iconfont icon-xingxing"></i>
                    <p>收藏</p>
                </li>
                <li>
                    <i class="iconfont icon-gouwuchekong"></i>
                    <p>购物车</p>
                </li>
                <li>
                    <i class="iconfont icon-ico"></i>
                    <p>下载APP</p>
                </li>
            </ul>
            <div class="login">
                <a href="#">
                    <img src="images/login.png" alt="">
                    登录
                </a>
            </div>
        </div>
    </div>
</div>
<div class="nav nav-floating">
    <div class="nav-bottom">
        <div class="nav-in">
            <h1 class="logo">
                <a href="#">
                    <img src="images/logo.png" alt="">
                </a>
            </h1>
            <div class="menu">
                <i class="iconfont icon-caidan"></i>
                <b>目录</b>
            </div>
            <form action="" class="search">
                <input type="text" placeholder="半身群">
                <input type="submit" value="">
            </form>
            <ul class="list">
                <li>
                    <i class="iconfont icon-weixin"></i>
                    <p>消息</p>
                </li>
                <li>
                    <i class="iconfont icon-xingxing"></i>
                    <p>收藏</p>
                </li>
                <li>
                    <i class="iconfont icon-gouwuchekong"></i>
                    <p>购物车</p>
                </li>
                <li>
                    <i class="iconfont icon-ico"></i>
                    <p>下载APP</p>
                </li>
            </ul>
            <div class="login">
                <a href="#">
                    <img src="images/login.png" alt="">
                    登录
                </a>
            </div>
        </div>
    </div>
</div>
<div class="main">
    <div class="main-in">
        <!--
        <div class="item">
            <div class="item-box">
                <div class="item-top">
                    <img src="images/test.jpg" alt="">
                    <div class="play">
                        <img src="images/play.png" alt="">
                    </div>
                    <div class="title">
                        <img src="images/sold.png" alt="">
                        1件商品
                    </div>
                    <div class="mask">
                        <ul>
                            <li>
                                <span>456</span>
                            </li>
                            <li></li>
                        </ul>
                        <div class="mask-info">
                            <div class="mask-title">
                                <img src="images/sold.png" alt="">
                                1件商品
                            </div>
                            <div class="mask-des">
                                最近超爱司藤穿搭💕唷唷唷、小女人
                                最近超爱司藤穿搭💕唷唷唷、小女人
                                最近超爱司藤穿搭💕唷唷唷、小女人
                                最近超爱司藤穿搭💕唷唷唷、小女人
                                最近超爱司藤穿搭💕唷唷唷、小女人
                                最近超爱司藤穿搭💕唷唷唷、小女人
                                最近超爱司藤穿搭💕唷唷唷、小女人
                                最近超爱司藤穿搭💕唷唷唷、小女人
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-bottom">
                    <a href="#">
                        天下无敌最漂亮衣服大件
                    </a>
                </div>
            </div>
        </div>
-->
        <!--<div class="banner">
            <img src="images/banner.jpg" alt="">
        </div>
        <div class="category">
            <ul class="category-top">
                <li><a href="#">上衣</a></li>
                <li><a href="#">裙装</a></li>
                <li><a href="#">裤子</a></li>
                <li><a href="#">内衣</a></li>
                <li><a href="#">女鞋</a></li>
                <li><a href="#">包包</a></li>
                <li><a href="#">配饰</a></li>
                <li><a href="#">男友</a></li>
                <li><a href="#">美妆</a></li>
                <li><a href="#">母婴</a></li>
                <li><a href="#">家具</a></li>
                <li><a href="#">食品</a></li>
            </ul>
            <ul class="category-bottom">
                <li><a href="#">时尚套装</a></li>
                <li><a href="#">连衣裙</a></li>
                <li><a href="#">荷叶边雪纺衫</a></li>
                <li><a href="#">波点裙装</a></li>
                <li><a href="#">半身裙</a></li>
                <li><a href="#">牛仔裤</a></li>
                <li><a href="#">运动鞋</a></li>
                <li><a href="#">百搭T血</a></li>
                <li><a href="#">小个子搭配</a></li>
                <li><a href="#">轻典外卖</a></li>
            </ul>
        </div>-->
    </div>
</div>
<div class="footer">
    <div class="footer-in">
        <!--<div class="footer-logo">
            <img src="images/footer-logo.png" alt="">
        </div>
        <div class="footer-helper">
            <dl>
                <dt>新手帮助</dt>
                <dd><a href="#">常见问题</a></dd>
                <dd><a href="#">自助服务</a></dd>
                <dd><a href="#">联系客服</a></dd>
                <dd><a href="#">意见反馈</a></dd>
            </dl>
            <dl>
                <dt>新手帮助</dt>
                <dd><a href="#">常见问题</a></dd>
                <dd><a href="#">自助服务</a></dd>
                <dd><a href="#">联系客服</a></dd>
                <dd><a href="#">意见反馈</a></dd>
            </dl>
            <dl>
                <dt>新手帮助</dt>
                <dd><a href="#">常见问题</a></dd>
                <dd><a href="#">自助服务</a></dd>
                <dd><a href="#">联系客服</a></dd>
                <dd><a href="#">意见反馈</a></dd>
            </dl>
            <dl>
                <dt>新手帮助</dt>
                <dd><a href="#">常见问题</a></dd>
                <dd><a href="#">自助服务</a></dd>
                <dd><a href="#">联系客服</a></dd>
                <dd><a href="#">意见反馈</a></dd>
            </dl>
        </div>
        <ul class="footer-list">
            <li><a href="#">关于我们</a></li>
            <li>|</li>
            <li><a href="#">关于我们</a></li>
            <li>|</li>
            <li><a href="#">关于我们</a></li>
            <li>|</li>
            <li><a href="#">关于我们</a></li>
            <li>|</li>
            <li><a href="#">关于我们</a></li>
            <li>|</li>
            <li><a href="#">关于我们</a></li>
            <li>|</li>
            <li><a href="#">关于我们</a></li>
            <li>|</li>
            <li><a href="#">关于我们</a></li>
            <li>|</li>
            <li><a href="#">关于我们</a></li>
            <li>|</li>
            <li><a href="#">关于我们</a></li>
        </ul>
        <div class="footer-line">
            <span>©2020 Mogu.com 杭州卷瓜网络有限公司</span>
        </div>
        <div class="footer-copyright">
            <p>
                <a href="#">营业执照：913301065526808764</a>
                <span>|</span>
                <a href="#">营业性演出许可证：</a>
                <span>|</span>
                <a href="#">网络文化经营许可证</a>
                <span>|</span>
                <a href="#">网络信息服务信用承诺书</a>
                <span>|</span>
                <a href="#">进口冷链食品管理承诺书</a>
                <span>|</span>
                <a href="#">增值电信业务经营许可证：浙B2-20110349</a>
                <span>|</span>
                <a href="#">安全责任书</a>
                <span>|</span>
            </p>
            <p>
                <a href="#">营业执照：913301065526808764</a>
                <span>|</span>
                <a href="#">营业性演出许可证：</a>
                <span>|</span>
                <a href="#">网络文化经营许可证</a>
                <span>|</span>
                <a href="#">网络信息服务信用承诺书</a>
                <span>|</span>
                <a href="#">进口冷链食品管理承诺书</a>
                <span>|</span>
                <a href="#">增值电信业务经营许可证：浙B2-20110349</a>
                <span>|</span>
                <a href="#">安全责任书</a>
                <span>|</span>
            </p>
        </div>-->
    </div>
</div>
<div class="back">
    <i class="iconfont icon-dingbu"></i>
    <p>返回顶部</p>
</div>
</body>
<script id="demo" type="text/html">
    <div class="banner">
        <img src="images/banner.jpg" alt="">
    </div>
    <div class="category">
        <ul class="category-top">
            <% for(let i=0;i < cateList.length; i++) {%>
            <li style="background: url('<%=cateList[i].cateIcon%>'); background-size: 112px 112px">
                <a href="#"><%=cateList[i].cateName%></a>
            </li>
            <% } %>
        </ul>
        <ul class="category-bottom">
            <% for(let i=0;i < wordList.length; i++) {%>
            <li>
                <a href="#"><%=wordList[i].word%></a>
            </li>
            <% } %>
        </ul>
    </div>
</script>
<script id="test" type="text/html">
    <% for(let i=0;i < list.length;i++) {%>
    <% if(i===2 || i===3 || i===4) {%>
    <div class="item" style="width: 220px;height: 1160px"></div>
    <%}else{%>
        <div class="item">
            <div class="item-box">
                <div class="item-top">
                    <% let scale = list[i].originW/list[i].originH%>
                    <% let imgHeight=220/scale %>
                    <img src="<%=list[i].cover%>" alt="" style="width: 220px;height:<%=imgHeight%>px">
                    <% if(list[i].isVideo) {%>
                    <div class="play"><img src="images/play.png" alt=""></div>
                    <%}%>
                    <div class="title"><img src="images/sold.png" alt=""><%=list[i].itemNumbers%>件商品</div>
                    <div class="mask">
                        <ul>
                            <li>
                                <span><%=list[i].cFav%></span>
                            </li>
                            <li></li>
                        </ul>
                        <div class="mask-info">
                            <div class="mask-title"><img src="images/sold.png" alt=""><%=list[i].itemNumbers%>件商品</div>
                            <div class="mask-des">
                                <%=list[i].content%>
                            </div>
                        </div>
                    </div>
                </div>
                <% if(list[i].brandInfo.length !==0) {%>
                <div class="item-bottom">
                    <% for(let j=0;j < list[i].brandInfo.length;j++) {%>
                    <a href="#">
                        <img src="<%=list[i].brandInfo[j].brandLogo%>" alt="">
                        <%=list[i].brandInfo[j].brandName%>
                    </a>
                    <% } %>
                </div>
                <% } %>
            </div>
         </div>
    <%}%>
    <% } %>
</script>
<script id="example" type="text/html">
    <div class="footer-logo">
        <img src="images/footer-logo.png" alt="">
    </div>
    <div class="footer-helper">
        <% for(let i=0; i < clos.length; i++) {%>
        <dl>
            <% for(let j=0; j < clos[i].length; j++) {%>
            <% if(clos[i][j].isHeader) {%>
            <dt><%=clos[i][j].title%></dt>
            <%} else {%>
            <dd><a href="#"><%=clos[i][j].title%></a></dd>
            <%}%>
            <%}%>
        </dl>
        <%}%>
    </div>
    <ul class="footer-list">
        <% for(let i=0; i < list.length; i++) {%>
            <li><a href="#"><%=list[i].title%></a></li>
            <%if(i !==list.length-1){%>
                <li>|</li>
            <%}%>
        <%}%>
    </ul>
    <div class="footer-line">
        <span><%=line.title%></span>
    </div>
    <div class="footer-copyright">
        <% for(let i=0; i < copyright1.length; i++) {%>
            <p>
                <% for(let j=0; j < copyright1[i].length; j++) {%>
                    <a href="#"><%=copyright1[i][j].title%></a>
                    <span>|</span>
                <%}%>
            </p>
        <%}%>
    </div>
</script>
<script src="js/index.js"></script>
</html>